body{
    margin: 0;
    font-family: "roboto", sans-serif;
}

header.heading{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

span.item{
    width: 40%;
    display: flex;
    align-items: center;
}

b.logo{
    color: red;
    margin-left: 1rem;
}

nav {
    color: #e5e7eb;
    font-size: small;
   
}

nav ul.item-links{
    display: flex;
    justify-content: space-between;
}

nav ul.item-links button{
    height: 35px;
    width: 80px;
    background-color: #1f2937;
    color: #e5e7eb;
    border: none;
    border-radius: 8px;
}

nav ul.item-links button:hover{
    background-color: rgb(170, 9, 9);
    transition: 400ms ease-in-out;
}

li{
    list-style: none;
}

ul{
    padding: 0;
    margin: 0;
}

#top{
    background-color: #1f2937;
    font-size: 24px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: #1f2937cb;
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-text{
    width: 90%;
    font-weight: 100px;
}

b.MainHeader{
    color: red;
}

.OurMission{
    margin-top: 5rem;
    height: 400px;
    background-color: #e5e7eb;
    font-size: 24px;
    font-weight: 300;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.mession-text{
    width: 75%;
}

.Ad{
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.ImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.Image.Items{
    border: solid #1f2937 3px;
    border-radius: 5px;
}

.Image.Items:hover{
    width: 150px;
    height: 150px;
    transition: 400ms ease-in-out;
}

section.middle{
    margin-top: 5rem;
}

figcaption{
    text-align: center;
    width: 100%;
    font-size: medium;
    font-weight: 700;
}

footer{
    margin-top: 5rem;
    color: #f9faf8;
    background-color: #1f2937;
}

.justified{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.copyright{
    font-size: x-small;
    display: flex;
    justify-content: center;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.rest-news{
    margin-top: 1rem;
    color: #1f2937;
    display: flex;
    justify-content: space-around;
}

div.main-event{
    position: relative;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    
}

div.mid-block{
    font-size: 24px;
    font-weight: 900;
    position: absolute;
    top: 85%;
    background-color: #1f293782;
    height: 60px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.order:hover{
    width: 60%;
    height: 150px;
    transition: 400ms ease-in-out;
}

.order{
    color: #f9faf8;
    width: 55%;
    height: 120px;
    background-color: rgb(170, 9, 9);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.order button{
    background-color: white;
    color: rgb(170, 9, 9);
    border: #f9faf8 solid 1px;
    border-radius: 3px;
    width: 10%;
}

.justified button{
    background-color: #1f2937;
    color: #e5e7eb;
    border: none;
    border-radius: 8px;
}

div.social-media button{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.social-media ul{
    display: flex;
}

.justified button:hover{
    background-color: rgb(170, 9, 9);
    transition: 400ms ease-in-out;
}
.quick-links button{
    height: 30px;
    width: 70px;
}

.address{
    width: 20%;
}

.quick-links{
    width: 9%;
}

.footer-logo{
    width: 13%;
    margin-top: 1.5rem;
}