body{
    margin: 0;
    font-family: "roboto", sans-serif;
}

header.heading{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

span.item{
    display: flex;
    width: 700px;
    align-items: center;
}

b.logo{
    color: red;
    margin-left: 1rem;
}

nav ul.item-links{
    color: #e5e7eb;
    font-size: small;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
}

#top{
    background-color: #1f2937;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: #1f2937cb;
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-text{
    width: 90%;
    font-weight: 100px;
}

b.MainHeader{
    color: red;
}

.OurMission{
    margin-top: 5rem;
    height: 400px;
    background-color: #e5e7eb;
    font-size: 24px;
    font-weight: 300;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.mession-text{
    width: 75%;
}

.Ad{
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.ImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.Image.Items{
    border: solid #1f2937 3px;
    border-radius: 5px;
}

.Image.Items:hover{
    width: 150px;
    height: 150px;
    transition: 400ms ease-in-out;
}

section.middle{
    margin-top: 5rem;
}

figcaption{
    text-align: center;
    width: 100%;
    font-size: small;
    font-weight: 700;
}

footer{
    margin-top: 5rem;
    height: 300px;
    color: #f9faf8;
    background-color: #1f2937;
}

.justified{
    height: 263px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright{
    font-size: x-small;
    display: flex;
    justify-content: center;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.rest-news{
    margin-top: 1rem;
    color: #1f2937;
    display: flex;
    justify-content: space-around;
}

div.main-event{
    position: relative;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    
}

div.mid-block{
    font-size: 24px;
    font-weight: 900;
    position: absolute;
    top: 85%;
    background-color: #1f293782;
    height: 60px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.order{
    width: 80%;
    height: 120px;
    background-color: rgb(170, 9, 9);
    border-radius: 5px;
}